.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Ensure the width is contained within the parent */
    padding: 10px; /* Optional: Add some padding if needed */
    box-sizing: border-box;
}