PORT = Your port
DB_URI = Your mongodb URI
SECREET_USER = Your Secreet jwt key
ADMIN_KEY = Your Secreet jwt key
STRIPE_KEY =  Your Secreet Stripe key
SERVER_URL = Your backend/server URL
CLIENT_URL = Your frontend/client URL
EP_SECREET = Your Endpoint secreet from stripe