.loginsignup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-container {
    width: 100%;
    max-width: 580px;
    background: white;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 32px;
    color: #333;
}

.loginsignup-container button {
    width: 100%;
    height: 50px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.loginsignup-container button:hover {
    background: #e03c3c;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.loginsignup-fields input:focus {
    border-color: #ff4141;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    text-align: center;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px;
}

.loginsignup-agree input {
    cursor: pointer;
}

.loginsignup-agree label {
    cursor: pointer;
}
