.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 100%;
}

.footer-logo img {
    width: 200px;
    height: auto;
    margin: 20px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 10px;
    margin: 10px;
    color: #252525;
    font-size: 16px;
}

.footer-links li {
    cursor: pointer;
    transition: color 0.3s;
}

.footer-links li:hover {
    color: #555;
}

.footer-social-icon {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    transition: transform 0.3s;
}

.footer-icons-container:hover {
    transform: scale(1.1);
}

.footer-icons-container img {
    width: 24px;
    height: 24px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #1a1a1a;
    font-size: 14px;
    padding: 20px 0;
    background-color: #f1f1f1;
}

.footer-copyright hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #c7c7c7;
    margin: 10px 0;
}
