.navAdmin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.navAdmin-logo{
    width: 160px;
}

.navAdmin-profile{
    width: 50px;
}

@media(max-width:800px){
    .navAdmin{
        padding: 15px 30px;
    }

    .navAdmin-logo{
        width: 140px;
    }

    .navAdmin-profile{
        width: 40px;
    }
}