.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .popular h1 {
    color: #171717;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  
  .popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 20px;
  }
  
  .popular-item {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .popular-item {
    flex: 1 1 calc(25% - 20px); /* Adjust percentage to control number of items per row */
    box-sizing: border-box;
  }
  
  @media (max-width: 1200px) {
    .popular-item {
      flex: 1 1 calc(33.33% - 20px); /* 3 items per row */
    }
  }
  
  @media (max-width: 900px) {
    .popular-item {
      flex: 1 1 calc(50% - 20px); /* 2 items per row */
    }
  }
  
  @media (max-width: 600px) {
    .popular-item {
      flex: 1 1 100%; /* 1 item per row */
    }
  }
  